.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* navbar */
a.navbar-brand {
  font: 16px;
}
a.nav-link {
  font-size: 16px;
  padding: 16px;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #5b5b5b;
}
h1 {
  color: #1d3444;
  font-weight: bold;
  font-size: 64px;
}
.header-content-logos ul {
  display: flex;
  list-style: none;
}
.main-header {
  background-color: #dceaf5;
}
#nav-link {
  color: #f58a07;
  text-decoration: none;
  border: solid 1px white;
  background-color: rgb(245, 238, 227);
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
}

button.btn.btn-light {
  background-color: #dceaf5;
  border: rgb(245, 238, 227);
  padding: 12px 32px;
}
.header-content-logos ul {
  padding: 0;
}
.section-content-body {
  margin-top: 30px;
}
/* section-services*/
.section-services {
  margin-top: 80px;
}
.section-thumbnails {
  margin-top: 30px;
}
.section-thumbnails img {
  border-radius: 20px;
}
.section-thumbnails .row {
  margin: 0px 0px 0px 0px;
  padding: 0;
}
/* Section-Solution */
.section-solution {
  margin-top: 100px;
  background-color: #dceaf5;
}
.section-solution-cards {
  margin-bottom: 100px;
}
.section-solution img {
  width: 30px;
}
.section-solution .card {
  border-radius: 20px;
}
.section-solution h1 {
  margin-top: 50px;
}
.section-solution p {
  margin-top: 50px;
}
a.btn.btn-primary {
  color: #f58a07;
  background-color: white;
  border: none;
}
.card {
  border: none;
}
.section-solution .card {
  padding: 32px;
  margin-top: 32px;
  margin-bottom: 50px;
}
/* section-experience */
.section-experience {
  margin-top: 50px;
  margin-bottom: 50px;
}
.section-content-body {
  display: inline;
}
.section-content-body .content-text h2 {
  color: #f58a07;
}

/* section-clients */
.section-clients .row {
  background-color: #dceaf5;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* section-start-up */
.section-start-up {
  background: #f58a07;
  color: white;
  padding: 0;
}
.section-start-up .start-up-content {
  padding: 150px 20vh 150px 0;
}
.section-startup .start-up-content h2 {
  font-size: 56px;
}
.experience-image {
  background-image: url("/images/experience-image.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-left: -1rem;
}
/* section-dream */
.section-dream {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* section-blog */
.section-blog {
  background-color: #dceaf5;
  padding: 96px 0;
  overflow: none;
}
/* section-footer */
footer {
  background-color: #063255;
  color: white;
  margin-top: 50px;
  padding: 50px;
}
footer .row .col-4 a {
  display: block;
  background-color: #063255;
  color: white;
  display: flex;
}
footer h2 {
  color: white;
}
small {
  font-size: 0.7em;
}
